body{
    margin: 0;
    padding: 0;
}

.no-interactivo {
    user-select: none;
    white-space: nowrap
}

.rectangulo {
width: 100%;
height: 34.2%;
background-color: rgb(53, 53, 53);
position:fixed;
z-index: 10;
}

.rectangulo * {
    margin: 0;
    padding: 0;
    color: white;}

.pfp {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
    position: fixed;
    top: 5%;
    left: 20px;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-family: 'Arial Narrow';
}
h2 {
    font-family: 'Arial Narrow';
    font-weight: normal;
    font-size:larger;
}

.nombre {
    left: 175px;
    top: 78px;
    position: fixed;
    font-stretch: expanded;
}
.carrera {
    left: 174px;
    top: 115px;
    position:fixed;
    font-stretch: ultra-expanded;
}

.universidad {
    left: 170px;
    top: 140px;
    position: fixed;
    font-stretch: extra-condensed;
}

.menu {
    top: 210px;
    left: 0.65%;
    position: fixed;
}

.separador {
    width: 100%;
    height: 5.8%;
    background-color: rgb(36, 36, 36);
    position: fixed;
    top: 34.2%;
    z-index: -10;
}

h3 {
    font-family: Arial;
    font-weight: normal;
    font-size:larger;
}

.inter1 {
    width: 2px;
    height: 35.55px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 210px;
    left: 4%;
}

.bienvenida {
    position: fixed;
}

.inter2 {
    width: 2px;
    height: 35.55px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 210px;
    left:23.2%;
}

.carreras {
    position: fixed;
}

.inter3 {
    width: 2px;
    height: 35.55px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 210px;
    left: 42.4%;
}

.aptitudes {
    position: fixed;
}

.inter4 {
    width: 2px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 210px;
    left: 61.6%;
}

.proyectos {
    position: fixed;
}

.inter5 {
    width: 2px;
    height: 35.55px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 210px;
    left: 80.8%;
}

.gustos {
    position: fixed;
}

.contactos-contenedor {
    left: 87%;
    top: 50px;
    position: relative;
    width: auto;
    height: auto;
}

.contactos {
    left: -85px;
    position: relative;
}

.mail-contenedor{
    position: relative;
    left: -55px;
    top: 4px;
    width: auto;
    height: auto;
    
}

.arroba {
    height: 23px;
    position: absolute;
    left: -31px;
}

.mail {
    position: relative;
}

.mail a {
    text-decoration: none;
    color: white;
}

.mail a:hover {
    text-decoration: underline;
}

.github-contenedor{
    position: relative;
    top: 9px;
    left:-55px;
    width: auto;
    height: auto;

}
.githubicon {
    height: 23px;
    position: absolute;
    left: -31px;
}

.github {
    position: relative;
}

.github a {
    text-decoration: none;
    color: white;
}

.github a:hover {
    text-decoration: underline;
}

.linkedin-contenedor{
    position: relative;
    top: 16px;
    left:-55px;
    width: auto;
    height: auto;

}

.linkedinicon {
    height: 23px;
    left: -31px;
    position: absolute;
}

.linkedin {
    position: relative;
    
}

.linkedin a {
    text-decoration: none;
    color: white;
}

.linkedin a:hover {
    text-decoration: underline;
}

p {
    color: rgb(58, 58, 58);
    margin: 0;
    padding: 0;
    font-family: Georgia;
    font-size: 30px;
    font-weight: lighter;
}

.italic {
    font-style: oblique;
}

.tooltip {
    position: relative;
    cursor: pointer;
}


.tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(0, 0, 0);
    color: rgb( 58, 58, 58);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    transition: opacity 0s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

h4{
    font-family: Georgia;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: lighter;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.pestañas {
    display: flex;
    top: 40%;
    position: fixed;
    z-index: 10; 
}

.contenido {
    text-align: left;
    overflow: auto;
}

.panel {
    display: none;
    position: fixed;
}

.panel.activo {
    display: block;
    position: absolute;
    top: 43%;
    left: 5%;
    width: 90%;
    height: auto;
}

.fondo {
    display: block;
    z-index: -1;
    height: 35.55px;
    top: 34.2%;
}

.bienvenida.fondo {
    left: 4%;
    background-color: rgb(36, 36, 36);
    width: 19.2%;
    height: 35.55px;
    position: fixed;
    cursor: pointer;
}

.carreras.fondo {
    left: 23.2%;
    background-color: rgb(36, 36, 36);
    width: 19.2%;
    height: 35.55px;
    position: fixed;
    cursor: pointer;
}

.aptitudes.fondo {
    left: 42.4%;
    background-color: rgb(36, 36, 36);
    width: 19.2%;
    height: 35.55px;
    position: fixed;
    cursor: pointer;
}

.proyectos.fondo {
    background-color: rgb(36, 36, 36);
    left: 61.6%;
    width: 19.2%;
    height: 35.55px;
    position: fixed;
    cursor: pointer;
}

.gustos.fondo{
    left: 80.8%;
    background-color: rgb(36, 36, 36);
    width: 19.2%;
    height: 35.55px;
    position: fixed;
    cursor: pointer;
}

.fondo.activo {
    width: 19.2%;
    display: block;
    background-color: rgb(53, 53, 53);
}

 .menuF {
    background-color: rgb(53, 53, 53);
    width: 4%;
    height: 5.8%;
    z-index: -1;
    right: 96%;
    top: 34.2%;
    position:fixed;
}

.pestaña {
    position: relative;
    top:3px;
    text-align: center;
    font-weight: normal;
}

a.sw {
    right: 90%;
}

a.mid {
    width: 2px;
    height: 200px;
    background-color: rgb( 58, 58, 58);
    left: 58%;
    top: 20px;
    position: absolute;
}

a.lang {
    left:65%;
    top:0;
    position: absolute;
}

.aptitudes b {
    font-family: Georgia;
    font-weight: normal;
    position: relative;
    top: -5px;
}

.panel.proyectos p {
    text-align: center;
}

.vj {
    position: absolute;
    left: 12.25%;
    text-align: center;
}

.vjc.mc {
    position: relative;
    left: -50%;
}

.vjc.tf {
    position: relative;
    left: 50%;
    top: -35px;
}

.vjc.ac {
    position: relative;
    left: -52%;
}

.vjc.ai {
    position: relative;
    left: 52%;
    top: -35px;
}